



 body
 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin:0;
    padding:0;
    
   
           
 }

 .wrapper
 {
    margin:auto;
    width: 1024px;
    
 }

 
 .wrapper

 a 
 {
     text-decoration: none;
 } 

 span
 {
     color:lavender;
     
     
 } 

 header.header
 {
     display:flex;
     align-items: center;
     
 } 

header.header img
{
    width: 100px;
    

}

header.header .logo {
    flex: 1;
}


nav.navheader 
a.nav-link
{
    color:black;
    text-decoration: none;
    padding: 3em 1.5em;
    border-top: 2px #fff solid ;

}

nav.navheader a.nav-link:hover,
nav.navheader a.active
{
  border-top: 2px #0065FC solid;
  color: #0065FC;
}



a.register-link
{
    font-weight: bold;
    display: block;
    font-size: 1em;
    padding: 3em 1.5em;
    border-top: 2px #fff solid;
    color: #0065FC;
    text-decoration: none;
}



nav.navheader
ul
{
    display:flex;
    list-style-type: none;
    
      
}





div.titres
.big-title
{
    color: black;
    font-size: 20px;
    
    
}
div.titres
h3.small-title{
    color: black;
    font-size: 15px;
    font-weight: lighter;
    line-height: 0px;
    
}
 
section.search
a{
    background-color: #0065FC;
    color:white;
    text-decoration: none;
    padding:9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
} 

section.search
input
{
height:33px;
border-left: hidden;
border-color: whitesmoke;
border-style: solid;



}

section.search
i
{ 
    color:black;
    background-color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:20px;
    height:25px;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-right: 5px;

    
}
section.search
span
{
    color:white;
    
}



section.filtres
{
    color: black;
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
    
}

section.filtres
a{
    color:black;
    border: 1px;
    display:block;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 20px;
    height:32px;
    padding-right: 5px; 
    border-color:whitesmoke;
    border-style: solid;
    padding-top: 0px;
    

}
section.filtres 
i{
    color:#0065FC;
    background-color: #DEEBFF; 
    border-color:whitesmoke;
    border-radius: 20px;
    height: 33px;
    width: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height:33px;
    
}

section.filtres strong {
    margin-left: 5px;
    margin-right: 5px;
}

section.filtres
p
{
    margin-top: 10px;
    
}

p.second
{
    font-weight: 100;
    font-size: 12px;
    
}



p.second
i{
    color:#0065FC;
    font-size: 10px;
    background-color: white;
    width: 10px;
    border-radius: 50%;
    height: 10px; 
    border-style:solid;
    border-color: whitesmoke;
    padding-left: 5px;
    

}
p.grandtitre
{
    margin-bottom: 50px;
}


div.hebergement img

{
    width:96%;
    object-fit: cover;
    height:90px;
    padding-right:2%;
    padding-left: 2%;
    padding-top: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}


div.hebergement-images
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

div.hebergement 
h3
{
    padding-top: 30px;
    font-weight:bolder;
    font-size: large;
      
}

div.hebergement
a.lien
{

    color:black;
    text-decoration:none;
    font-weight: bold; 
}


div.firstimg h5
{
    line-height: 3px;
    margin-left: 5px;
    margin-top: 5px;
}
div.firstimg
i
{
    margin-top: 13px;
    color:#0065FC;
}




div.firstimg
p
{
    font-weight: 100;

}

div.firstimg
{
    background-color: white;
    width:30%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius:20px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    

}


div.secondimg h5
{
    line-height: 3px;
    margin-top:5px;
    margin-left: 5px;
}
div.secondimg
i
{
    margin-top: 10px;
    color:#0065FC;
}
div.secondimg
p
{
    font-weight: 100;
}

div.secondimg
{
    background-color:white;
    width:30%;
    height: 150px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius:20px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    
    

}


div.thirdimg h5
{
    line-height: 3px;
    margin-top:5px;
    margin-left: 5px;
}
div.thirdimg
i
{
    margin-top: 13px;
    color:#0065FC;
}
div.thirdimg
p
{
    font-weight: 100;
}

div.thirdimg
{
    background-color: white;
    width:30%;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius:20px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    

}

div.forthimg h5
{
    line-height: 1px;
    margin-top:7px;
    margin-left: 5px;
}
div.forthimg
i
{
    margin-top: 13px;
    color:#0065FC;
}
div.forthimg
p
{
    font-weight: 100;
}
div.forthimg
{
 background-color:white;
 width:30%;
 height: 150px;
 margin-bottom: 20px;
 border-radius: 20px;
 box-shadow: 0px 3px 5px 1px #ccc; 
 

}


div.fifthimg
{
    background-color: white;
    width:30%;
    height:150px;
    border-top-left-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    
}

div.fifthimg
h5
{
    margin-top: 2px;
    margin-left: 5px;

}

div.fifthimg
p
{
 font-weight: 100;
 margin-top: 1px;
}
i{
    margin-top: 5px;
}


div.sixthimg
{
    background-color: white;
    width:30%;
    height:150px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 1px #ccc; 

}

div.sixthimg
h5
{
    margin-top: 2px;
    margin-left: 5px;
}

i{
    color:#0065FC;
    margin-top: 2px;
}

div.sixthimg

p
{
    font-weight: 100;
    margin-top: 1px;
}

div.hebergement
{
    background-color: #F2F2F2;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 500px;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 20px;
    
    
      
}

div.main
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

div.aside img
{
    width:100px;
    height:92%;
    object-fit: cover;
    background-color:white;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.aside h5
{
    line-height: 10px;
    
}
div.aside p
{
    line-height: 5px;
    font-weight: 100;
    margin-top: 3px;
}

div.aside
i
{
    margin-top: 30px;
}

h3.populaires
{
    margin-top: 30px;
}


h3.populaires
i

{
    color:black;
    margin-left: 80px;
    font-weight:bolder;
}

div.seventh
{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 300px;
    height:110px;
    margin-left: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px 1px #ccc; 
}



div.eighth
{  
    display: flex;
    flex-direction:row;
    background-color: white;
    width: 300px;
    height:110px;
    margin-left: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    box-shadow: 0px 3px 5px 1px #ccc; 
}

div.neinth
{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 300px;
    height:110px;
    margin-left: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 1px #ccc; 
}


div.aside
{
    background-color: #F2F2F2;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    height: 500px;
    
    
}

div.aside h5
{
    margin-top: 20px;
    margin-left: 10px;
}

div.aside
p
{
    margin-top: 7px;
    
}

div.containeractivities
{
    width: 1024px;
    margin: auto;
}
div.main
{
    width:1024px;
    margin:auto;
}
div.firstpartcontainer
{
    width: 1024px;
    margin:auto;
}

header.header
{
    width: 1024px;
    margin:auto;
}

div.activity-link {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 5px 1px #ccc;
    border-radius: 20px;
}

div.activity-link a {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
}

div.activity-link img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

div.activity-link p {
    padding: 0.5em 1em;
    font-weight: bold;
}


div.firstactivity { height: 320px; }
div.secondactivity { height: 150px; }
div.thirdactivity { height: 130px; }
div.forthactivity { height: 320px; }
div.fifthactivity { height: 150px; }
div.sixthactivity { height: 130px; }

div.activities-columns p
{
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
}

div.activities-columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

div.activity-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}


div.footer1
a
{
    text-decoration: none;
    color:black;
    line-height: 30px;
}

div.footer1{
    list-style: none;
    line-height: 20px;
}

div.footer2{
    list-style: none;
    margin-left: 150px;
    line-height: 20px;
}

div.footer2
a{
 text-decoration: none;
 color:black;
 line-height: 30px;
}

div.footer3
a{

     text-decoration: none;
     color:black;
     line-height: 30px;
}

div.footer3{
    list-style:none;
    margin-left: 150px;
    line-height: 20px;
}


div.container
{
    width: 1024px;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: start;
    border-top:black;
    margin-top: 50px;
    
      
}
footer{
    background-color: whitesmoke;
}

@media all and (max-width: 1024px)
{

body
{
width: auto;
margin:auto;
}

div.container{
    display:flex;
    flex-direction: column; 
    
    
}
div.container
h4
{
    
    font-size: medium;
    font-weight: 900;
}

div.footer2
{
    margin-left: 45px;
}

div.footer3
{
   margin-left: 45px;
}

div.footer1
{
    margin-left: 45px;
}
div.firstpartcontainer
{
    width:80%;
    margin:10%;
}

header.header
{
    flex-wrap: wrap;
    width:80%;
    margin:10%;
    
}

div.aside
{
    width: 80%;
    
}
nav.navheader
 a.active
 {
border-top: 0;
border-bottom: #0065FC solid 4px;
padding:1em;
margin-left: -50px;

 }

 nav.navheader
 a.nav-link
 {
    border-top: 0px;
    border-bottom: 4px #eee solid;
    padding:1em;
 }
 nav.navheader
 a.nav-link:hover
 {
    border-top: 0;
    border-bottom: #0065FC solid 4px;
    padding:1em;
 }


 
 header.header
 .logo
 {
   flex:1;  
 }

 nav.navheader
 
 {
     
     width: 100%;
     order:1;
     
            
 }
 

 header.header
 a.register-link
 {
    font-weight: bold;
    font-size: 15px;
    
 }

 nav.navheader 
 a
 {
    font-weight: 900;
    font-size: 15px;  
    
 }

 div.main
 {
     width:90%;
     margin:5%;
 }

 
 
div.activities-columns
{
    flex-direction: column;
}

div.containeractivities
h3.activities
{
    margin-top: 360px;
    font-weight: bold;

    
}

div.main
{
flex-direction:column-reverse;

}

div.aside
{
    
    height: 600px;
    border-radius: 0%;
    width:100%;
    
       
}
div.aside
h3.populaires
i
{
margin-left: 150px;
}
div.aside img
{
width:130px;
height:130px;

}
div.aside
h3.populaires
{
    margin-top: 10px;
    font-size: large;
}

div.seventh
{
    background-color: white;
    height: 140px;
    width:350px;
    
    
}
div.eighth
{
    background-color: white;
    height: 140px;
    width:350px;
}
div.neinth
{
    background-color: white;
    height: 140px;
    width: 350px;;
}

p.second

{
    
    font-size: 15px; 
    font-weight: 500;
    margin-top: 150px;
    
    
}

p.second
i{
    margin-right: 20px;
    size: 5px;
}

section.filtres
a
{
    
    text-align: left;
    font-size: medium;
    font-weight: bold;
    border: whitesmoke solid 2px;
    
      
}

section.filtres
{

    flex-direction: row;
    flex-wrap: wrap;
    
      
}

section.filtres
a.romantique
{
    margin-bottom: 10px;
    
    
}
a.familial
{

    margin-bottom:10px;
}

section.filtres
i
{
    text-align: center;
}

div.hebergement
{    
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 20px;   
    background-color: white;
    padding-bottom: 320px;
    
    
    
    
    
}
div.hebergement
p.hebergement
{
    margin-top: 80px;
    font-weight: bolder;
    
    
}

div.hebergement-images
{
    flex-direction: column;
    border-radius: 20px;
    padding-top: 2%;
    
          
}

div.hebergement
h3
{
    
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    
}


div.hebergement img

{
width:98%;
height:100px;
object-fit: cover;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;


}

div.firstimg
{
    background-color: white;
    width:350px;
    height:160px;
    
    
}

div.secondimg
{
    background-color: white;
    width: 350px;
    height:160px;
    
}

div.thirdimg

{
    background-color: white;
    width: 350px;
    height:160px;
    
}

div.forthimg
{
    background-color: white;
    width: 350px;
    height:160px;
    
    
}

div.fifthimg

{
    background-color: white;
    width: 350px;
    height:160px;
    
}

div.sixthimg
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 20px;

}

section.filtres
p
 {
    
    text-align: start;
    font-size: large;
    font-weight: 900;
    width:100%;
       
    
}

div.containeractivities
{
    width:80%;
    margin:10%;
}


section.search
a
{
 display:none;
}
section.search
span
{
    font-weight: bold;
    background-color:#0065FC ;
    color:white;
    padding:13px 13px 12px 12px;
    border-radius: 30%;
    width:20px;
    text-align: center;
    margin-left: -15px; 
    
    
}
section.search
input
{
    
    border-right: none;
    font-weight: 600;
    width:75%;
    
    
}

section.search
{
    margin-top: 30px;
}





h3.activities
{
    
    font-weight: 800;
}

div.activities-colums img
{
    width:100%;
    object-fit: cover;
    overflow: hidden;
    height:120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
div.firstactivity
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 15px;

}
div.secondactivity
{
    background-color: white;
    width: 350px;
    height:160px; 
    margin-top: 15px;
}
div.thirdactivity
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 15px;
}
div.forthactivity
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 15px;
    
}
div.fifthactivity
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 15px;
}

div.sixthactivity
{
    background-color: white;
    width: 350px;
    height:160px;
    margin-top: 15px;
}

div.titres
.big-title

{
   font-weight:bold;
   width:75%;  
    
}







}












    
        
    


    
        
    


